# Core dependencies
numpy
pandas
matplotlib
scipy

# Image processing
opencv-python
scikit-image
Pillow

# Medical imaging
SimpleITK
pydicom

# Deep Learning
torch
torchvision
segmentation-models-pytorch

# Utilities
tqdm
requests
h5py

# Machine Learning
scikit-learn

# Jupyter
jupyter
ipywidgets
